{:deps {org.clojure/clojure {:mvn/version "1.11.2"}}

 :aliases {:+default {:extra-deps {}}

           :dev  {:extra-paths ["development/src"]
                  :extra-deps {poly/web  {:local/root "bases/web"}
                               poly/fw   {:local/root "components/filewatcher"}
                               poly/log  {:local/root "components/log"}
                               poly/time {:local/root "components/time"}

                               com.nextjournal/beholder {:mvn/version "1.0.2"}
                               integrant/integrant      {:mvn/version "0.9.0"}}}

           :test {:extra-paths ["bases/web/test"
                                "components/filewatcher/test"
                                "components/log/test"
                                "components/time/test"]}

           :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                  :extra-deps {polylith/clj-poly {:mvn/version "0.2.19"}}}}}
