{:deps {org.clojure/clojure {:mvn/version "1.11.2"}}

 :aliases {:default {:extra-deps {poly/web {:local/root "bases/web"}}}

           :dev  {:extra-paths ["development/src"]
                  :extra-deps {poly/web {:local/root "bases/web"}}}

           :test {:extra-paths ["bases/web/test"]}

           :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                  :extra-deps {polylith/clj-poly {:mvn/version "0.2.19"}}}}}
