{:paths ["src" "resources"]
 :deps {com.xtdb/xtdb-api             {:mvn/version "2.0.0-20240628.121654-16"}
        com.xtdb/xtdb-http-client-jvm {:mvn/version "2.0.0-20240628.121654-11"}
        djblue/portal                 {:mvn/version "0.55.1"}
        metosin/malli                 {:mvn/version "0.16.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
