{:deps {}
 :tasks
 {; init tailwind watcher
  startup (shell "echo hi")

  ; start the xtdb container
  xtdb-container-get-run (shell "docker run --pull=always -tip 6543:3000 ghcr.io/xtdb/xtdb-standalone-ea")}}