{:deps {poly/web  {:local/root "../../bases/web"}
        poly/time {:local/root "../../components/time"}
        poly/log  {:local/root "../../components/log"}
        org.clojure/clojure {:mvn/version "1.11.2"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {}}

           :build {:replace-deps {io.github.clojure/tools.build {:mvn/version "0.10.0"}}
                   :ns-default build}}}
